.contactSection {
  background: #edecec;
  position: relative;

  .tabs {
    display: flex;
    gap: 10px;
  }

  .inputDetails {
    margin-top: 30px;

    .right {
      position: absolute;
      width: 60dvw;
    }
  }
}

.btnSize {
  padding: 6px 15px;
  font-size: 10px;
}

.inputDetails .blockCard {
  top: 30%;
  right: 6%;
  position: absolute;
  width: 40%;
}

.inputDetails .right {
  position: absolute;
  width: 50dvw;
  bottom: 5%;
  right: 0;
}

@media (min-width: 851px) { //desktop & tab Only
  .contactSection {
    padding: 11dvh 8dvw;
  }

  .tabs {
    overflow: hidden;
    justify-content: center;
  }

  .btnSize  {
    width: auto;
  }

  .right {
    display: flex;
  }
}

@media (max-width: 850px) { //mobile Only

  .contactSection {
    padding: 11dvh 3dvw;
  }
  .tabs {
    overflow: scroll;
    justify-content: start;
  }
  .btnSize  {
    width: 40dvw;
  }
  .right {
    display: none;
  }
}