header {
  position: fixed;
  z-index: 25;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: white;

  .desktopNav {

    .link {
      margin-right: 30px;
      display: flex;
      height: 11dvh;
      align-items: center;
      position: relative;
      justify-content: center;

      .linkClass {
        color: #659edd;
        font-family: PoppinsLight;
        font-size: 15px;
        transition: .3s;

        &:hover {
          color: var(--textActive);
        }

        &:hover~ .underline {
          width: 100%;
        }
      }

      .underline {
        position: absolute;
        background: var(--textActive);
        width: 0;
        transition: .3s;
        height: 3%;
        bottom: 0;
      }
    }
  }
}

@media (max-width: 850px) { //mobile Only

  header {
    padding: 0 15px;
    height: 8dvh;
  }

  .desktopNav {
    display: none;
  }

  .hamburger {
    display: flex;
  }
}

@media (min-width: 851px) { //desktop & tab Only

  header {
    padding: 0 40px;
    height: 9dvh;
  }


  .desktopNav {
    display: flex;
  }

  .hamburger {
    display: none;
  }
}

@media (min-width: 1023px) { //desktop Only{

  header {
    padding: 0 70px 0 30px;
    height: 11dvh;
  }
}