.headerText {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 10vw;
  text-transform: uppercase;
  background: url("../images/2.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  color: white;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    width: 110%;
    background: linear-gradient(transparent, #003257);
    height: 40vh;
    left: 0;
    bottom: -19%;
    transform: rotate(-6deg);
  }
  &::after {
    content: "";
    position: absolute;
    width: 110%;
    background: rgb(255 255 255);
    height: 20vh;
    left: -27px;
    bottom: -26%;
    transform: rotate(4deg);
  }
}

.textBOX {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 851px) { //desktop & tab Only

  .headerText {
    font-size: 40px;
    height: 50vh;
  }

  .textBOX {
    margin: 30px 0 50px;

    .titleH4 {
      font-size: 30px;
    }
    h4, p {
      width: 50%;
    }
  }
  
}

@media (max-width: 850px) { //mobile Only

  .headerText {
    font-size: 28px;
    height: 40dvh;
  }
  
  .textBOX {
    margin: 2dvh 0 10dvh;

    h4 {
      font-size: 20px;
      width: 75%;
    }
    p {
      width: 85%;
      font-size: 12px;
    }
  }
}