.textImageBOX {
  height: 45vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 40px;
  gap: 50px;

  &:nth-child(2) :nth-child(1) {
    order: 1;
  }

  .top {
    font-size: 16px;
    color: #165b8c8e;
    font-weight: 700;
  }

  .head {
    font-size: 35px;
    text-transform: uppercase;
    color: #004a80;
    width: 100%;
  }

  .body {
    font-size: 12px;
  }

  img {
    height: 100%;
  }
}