.twoSectImgTxtBOX {
  display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    margin: 50px 120px;

    h3 {
      font-size: 25px;
      margin: 20px 0 10px;
    }
    p {
      font-size: 12px;
    }
    .pg {
      margin-bottom: 30px;
    }
    img {
      width: 100%;
    }
    .img1 {
      height: 50%;
    }
    .img2 {
      height: 50%;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
}